# Dependency directories
node_modules/

# Build output
dist/
build/
local-rag/
backend-mcp/BOOT-INF/
backend-mcp/backend-mcp/

# IDE settings
.idea/
*.iml
out/

# OS files
.DS_Store

# Environment files
.env
.env.open-ai
.env.z-ai
